.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
  margin-bottom: 2rem;
}

.App-footer {
  margin-top: 2rem;
  padding: 1rem;
  background-color: #f7f7f7;
  border-top: 1px solid #ddd;
}
